.boton {
    display: block;
    background: #5bc0de;
    color: white;
    padding: 10px;
    margin-left: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor : pointer;
}
.boton.single{
    background: #FF9900;
    color: white;
}
.boton.backto {
    background: #042c4c;
    color     : #ecf0f2;
}
.boton:first-child {
    margin-left: 0;
}
.boton:hover, .boton:focus {
    background: #1b53fc;
}
