select {
    outline: none;
    height:  35px;
    color: #016297;
    border: 1px solid #016297;
    padding: 5px;
}
select:focus ,select:active{
    border: 1px solid #72ccfe;
}
select[disabled]:focus {
    border: 1px solid #016297;
}
select option {
    height: 100%;
    color:  #016297;
    padding: 10px;
}
select option:checked {
    background: #016297;
    color:      #ecf0f2;
}
