/*@import "../../font/font.css";*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto-condensed;
    font-size: 16px;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    outline: none;
}
ul {
    list-style: none;
}
input{
    outline: none;
}
input::-webkit-input-placeholder {
    color: #0294e5;
    opacity: 1;
}
input:-moz-placeholder {
    color: #0294e5;
    opacity: 1;
    font-style: italic;
}
input:-ms-input-placeholder {
    color: #0294e5;
    opacity: 1;
    font-style: italic;
}
.content_main_page{
    max-width: 1200px;
    height: 100%;
    margin: auto;
}
