.input {
    margin-bottom: 20px;
}
.input input {
    background: white;
    padding   : 5px 10px;
    outline   : none;
    border    : none;
    border    : 1px solid #d8d8d8;
    color     : #016297;
    border-radius: 4px;
}
.input input::placeholder {
    color  : #dfdfdf;
}
.input input:focus{
    border : 1px solid #5bc0de;
    box-shadow: 0px 0px 4px 0px #5bc0de;
    color: #1b53fc;
}
.input input:focus::placeholder{
    color  : #99b3ff;
}
.input input[disabled],.input input[readonly] {
    background: #ecf0f2;
}
.input input[readonly]:hover,
.input input[readonly]:focus {
    border : 1px solid #d8d8d8;
}
.input input[disabled]:hover,
.input input[disabled]:focus {
    border : 1px solid #d8d8d8;
}
.input label {
    color  : #99b3ff;
    font-weight: bold;
    font-size : 16px;
    display: block;
    margin-bottom: 10px;
}
.input.error label,.input.error input{
    color: #ff9900;
}
