.panel-footer {
    margin-top: 25px;
    padding: 0px 20px;
    border-top: 4px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    justify-content: center;
    display: flex;
    transition: ease-out .5s;
}
.pagination {
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.pagination >li {
    display: inline;
}
.pagination >li >a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #016297;
    text-decoration: none;
    font-family: roboto-condensed;
    font-size: 18px;
}
.pagination >li >a:hover {
    border-top: 5px solid rgba(243, 126, 33, 0.60);
    margin-top: -5px;
    background: #ecf0f2;
    color:      #f37e21;
}
.pagination >.active >a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #042c4c;
    border-top: 5px solid #f37e21;
    margin-top: -5px;
}
.pagination >.active >a:hover {
    border-top: 5px solid #f37e21;    
    background-color: #042c4c;
}
.pagination >.disabled >a {
    cursor: default;
    color: #ddd;
}
.pagination >.disabled >a:hover{
    color: #ddd;
    margin: 0;
    border: none;
    background: none;
}
.pagination >.disabled >a {
    cursor: default;
    color: #ddd;
}
.pagination >li:first-child {
    position: absolute;
    left: 0;
}
.pagination >li:first-child >a {
    margin-left: 0;
    /*border-top-left-radius: 4px;*/
    /*border-bottom-left-radius: 4px;*/
}
.pagination >li:last-child {
    position: absolute;
    right: 0;
}
.pagination >li:last-child >a {
    margin-left: 0;
    /*border-top-right-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
}
.pagination >.page >a,
.pagination >.prev >a,
.pagination >.next >a{
    padding: 6px 12px;
    width: 40px;
    text-align: center;
}
.panel-footer .search-page {
    width: 90px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 10px;
}
.panel-footer .search-page input[type="number"] {
    outline: none;
    border: none;
    border: 1px solid #ddd;
    background: #ddd;
    width: 36px;
    padding: 2px;
    color: #016297;
    border-radius: 2px;
}
.panel-footer .search-page input[type="number"]:hover {
    background: #fff;
}
.panel-footer .search-page input[type="number"]:active,
.panel-footer .search-page input[type="number"]:focus {
    border: 1px solid #016297;
    background: #fff;
}
.panel-footer .search-page button {
    width: 28px;
    background: #f37e21;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}
.panel-footer .search-page button:hover {
    color: #fff;
}
