.table {
    width: 100%;
    overflow: auto;
}
.table .head {
    color: #016297;
}

.table .body {
    color: #042c4c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.table .row {
    display: flex;   
}
.table .body .row {
    flex-direction : column;
    background: #f8f9fa;
    transition: background ease .4s;
    padding: 10px;
    border-radius: 10px;
    margin-bottom : 10px;
    border-bottom: 1px solid #ecf0f2;
    background: #f4f5f6;
    width: 100%;
}
.table .row .numero {
    display: none;
}
.table .row .accion {
    width: 100%;
    justify-content: center;
}
.table .row > div {
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.table .head .row {
    background: #fff;
    border-bottom: 2px solid #ecf0f2;
    display: none;
}
.table .body .row:hover {
    background: #f8f9fa;
}

.table .body .row .boton {
    display: flex;
    margin-left: 20px;
    background: #f37e21;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0px;
}
.table .body .row .boton:first-child {
    margin-left: 0;
}
.table .body .row .boton .icono {
    width: 40px;
    height: 40px;
    padding: 5px;
}
.table .body .row .boton .icono svg path {
    fill: #fff;
}
.table .body .row .boton:hover,
.table .body .row .boton:focus {
    background: #042c4c;
}
@media only screen and  (max-width: 899px){
    .table .body .row {
        position: relative;
        padding-top: 50px;
    }
    .table .row .title-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f37e21;
        border-bottom: 2px solid;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .table .body .row:hover .title-mobile {
        border-color: #016297;
        color: #016297;
    }
}
@media only screen and (min-width: 480px) and (max-width: 899px){
    .table .body .row {
        width: 49%;
    }
}
@media only screen and  (min-width: 900px){
    .table .head .row {
        display: flex;
    }
    .table .body .row {
        padding: 5px 0;
        background: #fff;
        flex-direction : row;
        margin-bottom: 0;
        border-radius: 0;
    }
    .table .row .numero {
        display: flex;
    }
    .table .row .accion {
        width: 120px;
    }
    .table .row .accion .boton {
        margin-left: 10px;
        background: none;
        outline: none;
        width: 30px;
        height: 30px;
    }
    .table .body .row .boton .icono {
        width: 30px;
        height: 30px;
        padding: 0;
    }
    .table .body .row .boton .icono svg path {
        fill: #f37e21;
    }
    .table .body .row .boton:hover,
    .table .body .row .boton:focus {
        background: none;
    }
    .table .body .row .boton:hover .icono svg path,
    .table .body .row .boton:focus .icono svg path {
        fill: #016297;
    }

}
