@import "../../util/general.css";
@import "../../util/input.css";
@import "../../util/boton.css";
html, body , .content{
    height: 100%;
    width: 100%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_main_page{
    position: relative;
}
.background-img,.public_information{
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}
.background-img figure{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.background-img figure img{
    position: absolute;
    top: 0;
    width: 100%;
}
.form_login{
    padding: 20px;
    width: 100%;
    height: 100%;
    background: white;
}
.form_login .title_login{
    border-bottom: 3px solid #99b3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
    margin-bottom: 40px;
}
.cbx_remember{
    display: flex;
    align-items: center;
}
.cbx_remember .cbx{
    display: block;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    margin-right: 5px;
}
.cbx_remember .cbx svg{
    width: 100%;
    height: 100%;
    display: none;
}
.cbx_remember .cbx svg path{
    fill: #ff9900;
}
.cbx_remember input[type="checkbox"]{
    display: none;
    width: 0;
    height: 0;
}
.cbx_remember label{
    color: #1b53fc;
    cursor: pointer;
}
.cbx_remember input[type="checkbox"]:checked + .cbx svg{
    display: block;
}
.cbx_remember input[type="checkbox"]:hover + .cbx{
    background-color: #dfdfdf;
}
.form_login{
    position: relative;
}
.form_login .title_login span{
    font-size: 24px;
    color: #1b53fc;
    font-weight: bold;
    letter-spacing: 1px;
}
.form_login .body_login .input input{
    width: calc(100% - 10px);
    margin: 0 5px;
}
.form_login .body_login .actions{
    margin-top: 40px;
}
.form_login .body_login .actions .register{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 25px;
}
.form_login .body_login .actions .register a{
    color: #1b53fc;
    font-weight: bold;
    cursor: pointer;
}
.form_login .body_login .credits{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(71, 216, 201,0.3);
}
.form_login .body_login .credits .panel_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_login .body_login .credits .text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    color: #3366ff;
    padding: 0 10px;
}
.form_login .body_login .credits a.icon{
    height: 34px;
    width: 34px;
    display: block;
}
.form_login .body_login .credits a.icon svg{
    height: 34px;
    width: 34px;
}
a.icon{
    width: 34px;
    height: 34px;
    margin-right: 8px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
a.icon svg{
    width: 100%;
    height: 100%;
}
a.facebook svg path{
    fill: blue;
}
a.twiter svg path{
    fill: #03A9F4;
}
a.gmail svg path{
    fill: red;
}
a.whatsapp svg path{
    fill: green;
}
.background-img{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 1;
    overflow: hidden;
}
@media only screen and (min-width: 360px) and (max-width: 767px){
    .form_login{
        padding: 20px 40px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px){
    .form_login .body_login{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .form_login .body_login .input{
        width: 48%;
    }
    .form_login .body_login .actions{
        width: 100%;
    }
    .form_login .body_login .actions .register{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .form_login .body_login .actions .register .cbx_remember{
        width: 48%;
    }
    .form_login .body_login .actions .register a{
        width: 48%;
    }
}
@media only screen and (min-width: 768px) {
    .form_login{
        max-width: 320px;
        padding: 20px;
    }
    .form_login .body_login .credits{
        display: none;
        visibility: 0;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .public_information{
        width: calc(100% - 320px);
        height: 100%;
        opacity: 1;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    .public_information .body_information{
        height: calc(100% - 100px);
        width: 100%;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .public_information .body_information .body{
        color: #ff9900;
        font-size: 24px;
        width: calc(100% - 100px);
        height: 100%;
        padding: 110px 0;
        display: flex;
        justify-content: center;
    }
    .public_information .body_information .action_left,
    .public_information .body_information .action_right{
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .public_information .body_information .action_left svg,
    .public_information .body_information .action_right svg{
        width: 30px;
        height: 30px;
        fill: #dfdfdf90;
    }
    .public_information .body_information .action_left:hover,
    .public_information .body_information .action_right:hover{
        background: #eeeeee75;
    }
    .public_information .body_information .action_left:hover svg,
    .public_information .body_information .action_right:hover svg{
        fill: white;
    }
    .public_information .body_information .action_left svg{
        transform: rotate(180deg);
    }
    .public_information .triangule{
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-right: 40px solid white;
        border-top: 40px solid white;
        border-left: 40px solid transparent;
        border-bottom: 40px solid transparent;
    }
    .public_information .square{
        position: absolute;
        z-index: 6;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
    }
    .public_information .square .content_square{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .public_information .square .content_square .icon_square{
        position: absolute;
        background: white;
    }
    .public_information .square .content_square .icon_square.one{
        width: 55px;
        height: 55px;
        background: white;
    }
    .public_information .square .content_square .icon_square.two{
        width: 30px;
        height: 30px;
        right: 5px;
        top: 5px;
        background: #dfdfdfc9;
    }
    .public_information .square .content_square .icon_square.three{
        width: 25px;
        height: 25px;
        left: 5px;
        bottom: 5px;
        background: #dfdfdfc9;
    }
    .public_information .square .content_square .icon_square.four{
        width: 15px;
        height: 15px;
        left: 45px;
        bottom: 15px;
        background: #dfdfdf66;
    }
    .public_information .square .content_square .icon_square.five{
        width: 15px;
        height: 15px;
        right: 20px;
        top: 45px;
        background: #dfdfdf66;
    }
    .public_information .square .content_square .icon_square.six{
        width: 10px;
        height: 10px;
        right: 15px;
        bottom: 15px;
        background: #dfdfdf;
    }
    .public_information .footer_information{
        height: 100px;
        width: 100%;
        position: relative;
    }
    .public_information .footer_information .background{
        width: 100%;
        height: 100%;
        background: rgba(71, 216, 201,0.3);
    }
    .public_information .footer_information .detail{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(71, 216, 201,0.5);
        height: calc(100% - 30px);
        display: flex;
    }
    .public_information .footer_information .detail .text{
        width: calc(100% - 200px);
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
    }
    .public_information .footer_information .detail .panel_icon{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 960px){
    .background-img figure img{
        width: 1000px;
        right: 0;
    }
}
@media only screen and (min-width: 1024px) {
    .content_main_page{
        max-width: none;
    }
    .form_login{
        max-width: 360px;
    }
    .public_information .body_information{
        height: calc(100% - 120px);
    }
    .public_information .footer_information{
        height: 120px;
        width: 100%;
        position: relative;
    }
    .public_information .body_information .action_left,
    .public_information .body_information .action_right{
        width: 70px;
    }
    .public_information .triangule{
        border-right: 50px solid white;
        border-top: 50px solid white;
        border-left: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    .public_information .square{
        width: 120px;
        height: 120px;
    }
    .public_information .square .content_square .icon_square.one{
        width: 65px;
        height: 65px;
    }
}
